HELP.md

# Build outputs
target/
**/target/
out/
build/
generated/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IDEs
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs
*.log

# OS
Thumbs.db
Desktop.ini

# Compiled
*.class

# Env
.env