<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit activity</title>
</head>
<body>

<h2>Edit activity</h2>

<form method="post">
    <input type="hidden" th:field="${form.tripId}"/>

    Name: <input type="text" th:field="${form.name}"/><br/>
    Type: <input type="text" th:field="${form.type}"/><br/>
    Date: <input type="date" th:field="${form.date}"/><br/>
    Start time: <input type="time" th:field="${form.startTime}"/><br/>
    End time: <input type="time" th:field="${form.endTime}"/><br/>

    <button>Save</button>
</form>

</body>
</html>