<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Edit Trip</h1>

<form th:action="@{/trips/{id}/edit(id=${trip.id})"
      th:object="${trip}"
      method="post">
    <label>City:
        <input type="text" th:field="*{city}">
    </label>
    <br>

    <label>Start date:
        <input type="date" th:field="*{startDate}">
    </label>
    <br>

    <label>City:
        <input type="date" th:field="*{endDate}">
    </label>
    <br>

    <button type="submit">Save</button>

</form>

<a href="/trips">Back</a>

</body>
</html>