<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::content})}">

<div th:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Edit Trip</h2>

        <a th:href="@{/trips}"
           class="btn btn-outline-secondary">
            Cancel
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">

            <form th:action="@{/trips/create}"
                  th:object="${trip}"
                  method="post">

                <div class="mb-3">
                    <label class="form-label">City</label>
                    <input class="form-control" th:field="*{city}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Start date</label>
                    <input type="date" class="form-control" th:field="*{startDate}">
                </div>

                <div class="mb-3">
                    <label class="form-label">End date</label>
                    <input type="date" class="form-control" th:field="*{endDate}">
                </div>

                <button class="btn btn-success" type="submit">
                    Save
                </button>

            </form>
        </div>
    </div>

</div>
</html>